@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color: white;
}

.bg-gradient {
  background: linear-gradient(
    130deg,
    rgba(237, 0, 115, 0.8) 0%,
    rgb(188, 118, 79, 0.8) 26%,
    rgb(87, 34, 149, 0.8) 65%,
    rgb(27, 40, 48, 0.8) 100%
  );
  background-size: 400% 400%;
  animation: gradient 30s linear infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 0%;
  }
  25% {
    background-position: 50% 50%;
  }
  50% {
    background-position: 100% 100%;
  }
  75% {
    background-position: 50% 50%;
  }
  100% {
    background-position: 0% 0%;
  }
}

/* dark mode looking scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #555;
}

::-webkit-scrollbar-thumb {
  background: #121212;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #242424;
}
